li
  = link_to question.title, question_path(question), class: 'm-1'
  = link_to 'Edit', edit_question_path(question), class: 'm-1'
  = link_to 'Destroy', question_path(question), method: :delete, class: 'm-1'